* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    text-rendering: optimizeLegibility;
    font-size: 20px;
    font-family: 'Raleway';
    background-color: #fff;
    letter-spacing: 1px;
}

.row {
    max-width: 1240px;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
}


/* HEADINGS */

h1 {
    color: #fff;
    line-height: 50px;
}




/* BUTTONS */

.button {
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 75%;
    border: 1px solid #fff;
    padding: 16px 25px;
    letter-spacing: 0;
}

/* HEADER */

.top-bar {
    height: 5px;
    background: #3de0ae; /* GREEN COLOR CODE */
}

.logo {
    width: 120px;
    height: auto;
    float: left;
    margin: 25px 140px 0 0;
}

.top-nav li {
    display: inline-block;
    padding: 25px 20px 25px 20px;
    font-size: 70%;
    margin-right: -6px;
}

.top-nav li:first-child {
    background-color: #3de0ae;
}

.top-nav li a {
    text-decoration: none;
    letter-spacing: 0;
    font-weight: bold;
    font-size: 90%;
}

.top-nav p {
    display: inline-block;
    font-size: 70%;
}

.top-number {
    float: right;
    margin: 25px 50px 0 0;
    font-family: 'Arial';
    text-align: center;
}

.top-number i {
    padding: 4px 8px;
    border-radius: 50%;
    background-color: #3de0ae;
}

.header-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(images/slider-image1.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 650px;
    position: relative;
}

.header-text-box {
    width: 25%;
    position: absolute;
    top: 30%;
    left: 20%
}

.header-text-box p {
    color: #fff;
    font-size: 80%;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 40px;
}






